html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
} /*sets font size for webkit/microsoft browsers to 100%*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} /*makes sure all browsers follow proper box model rules*/

html, body {
    height: 100%; 
}

body {
    display: grid; 
    grid: auto-flow min-content / repeat(12, 1fr);
    margin: 1em;
    grid-gap: 1em;
}

header, footer {
    grid-column-start: 1;
    grid-column-end: 13;
}

nav {
    grid-column-start: 1;
    grid-column-end: 3;
}

main {
    grid-column-start: 3;
    grid-column-end: 13;
}

aside {
    grid-column-start: 5;
    grid-column-end: 9;
}

header img {
    float: left; 
}

header, h1, h2, footer {
    font-family: 'Averia Libre', cursive;
    background-color: lightpink;
}

h1 {
    font-size: 4rem;
    background-color: lightpink;
}

.nav li {
    list-style-type: none;
}