html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
} /*sets font size for webkit/microsoft browsers to 100%*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} /*makes sure all browsers follow proper box model rules*/

html, body {
    height: 100%; 
}

body {
    display: grid; 
    grid: auto-flow min-content / repeat(12, 1fr);
    /*grid-gap: 1em;*/
}

header, footer {
    grid-column-start: 1;
    grid-column-end: 13;
}

nav {
    background-color: lightgray;
    grid-column-start: 1;
    grid-column-end: 13;
   /* margin: 1em;
    margin-top: 0; remove if you add back grid gap*/
}

main {
    grid-column-start: 1;
    grid-column-end: 13;
    margin: 1em; 
}

/*aside {
    grid-column-start: 5;
    grid-column-end: 9;
}*/

header img {
    float: left; 
}

header, h1, h2, footer {
    font-family: 'Averia Libre', cursive;
    background-color: lightpink;
    padding: 0.5em;
}

h1 {
    font-size: 4rem;
    background-color: lightpink;
    margin: auto;
}

h3 {
    font-family: 'Averia Libre', cursive;
    background-color: lightgray;
    padding: 0.1em 0.1em 0.1em 0.5em;
    margin-bottom: 10px;
}

article p {
    margin-top: 0px;
}


.nav li {
    font-family: 'Averia Libre', cursive;
    font-weight: bold;
    display: inline;
    padding: 1em;
    list-style-type: none;
}

.limit {
    max-width: 1180px;
    margin: auto;
}