html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
} /*sets font size for webkit/microsoft browsers to 100%*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} /*makes sure all browsers follow proper box model rules*/

html, body {
    height: 100%; 
}

body {
    display: grid;
    grid: "header" min-content
          "nav   " min-content
          "main  " min-content
          "aside " min-content
          "footer" min-content /
          1fr;
}

header {
    grid-area: header;
    background-color: lightpink;
}

nav {
    grid-area: nav;
}

.top-nav {
    padding: .5em;
    background-color: lightgray;
}

.top-nav a {
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.invis {
    display: none;
}

.hamburger {
    display: block;
    position: absolute;
    right: 5%;
    top: 11%;
    font-size: 2rem;
    font-weight: bold;
}

main {
    grid-area: main;
    margin: 1em;
}

aside {
    grid-area: aside;
    margin: 1em;
}

footer {
    grid-area: footer;
    padding: 0.5em;
}

header img {
    float: left;
}

header, h1, h2, footer {
    font-family: 'Averia Libre', cursive;
    background-color: lightpink;
}

h1 {
    font-size: 2.5rem;
    background-color: lightpink;
    margin: auto;
    padding: 0.5em;
}

h2 {
    padding: 0.5em;
}

h3 {
    font-family: 'Averia Libre', cursive;
    background-color: lightgray;
    padding: 0.1em 0.1em 0.1em 0.5em;
    margin-bottom: 10px;
}

article p {
    margin-top: 0em;
}

form p {
    margin: 0.6em;
}

#contentGrid {
    display: grid;
    grid-template-columns: 1fr;
}

.logoImage {
    width: 100%;
    max-width: 100px;
    height: auto;
    margin: 1em;
}

.nav li {
    font-family: 'Averia Libre', cursive;
    font-weight: bold;
    display: inline;
    padding: .5em;
    list-style-type: none;
}

.nav li a {
    text-decoration: none;
}

.limit {
    max-width: 1180px;
    margin: auto;
}

/*medium screen CSS*/
@media screen and (min-width: 768px) {
    
    #contentGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    .featured {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    nav {
        background-color: none;
        text-align: center;
    }

    .top-nav a {
        display: inline;
        text-decoration: none;
        color: black;
    }

    .invis {
        display: none;
    }
}

/*large screen CSS*/
@media screen and (min-width: 1200px) {

    #contentGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }
    .featured {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .submission {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    nav {
        background-color: lightgray;
        padding-right: 0rem;
        padding-top: 0rem;
        text-align: center;
    }

    .top-nav {
        display: block;
    }

    .hamburger {
        display: none;
        font-size: 2rem;
        font-weight: bold;
    }

    .nav a {
        text-decoration: none;
        color: black;
        padding: 10px 12px;
    }
    
    .nav a:hover {
        text-decoration: underline;
        color: #f0f0f0;
        background-color: #303030;
    }

}